.photo-add-form-buttons
{
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.validation-message
{
    color:#ed5558;
}

.uploaded-images
{
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
}

.progress-info
{
    width: 200px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image-view
{
    background-position: center !important;
    background-size: cover !important;
    height: 90vh;
}

.preview-remove-button
{
    position: relative;
    float: right;
    top: -10px;
    right: -10px;
}